%h1 Candidate List
%p Totally not public.

%ul
  - candidates.each do |candidate|
    %li
      %h3
        %a{href: "/candidates/#{candidate.id}/tests"}= "#{candidate.name} (#{candidate.email})"
      %pre git remote add heroku #{candidate.git}
